:root {
    --blue-color: #91d7f2a3;
    --text-faded: #00000074;
    --background-color: #ffffff62;
    --foreground-color: #ffffff9b;
    --dark-yellow-color: #D98B2B;
    --black-color: #000000;
}

/*#region--------------------------Main Variables-------------------------------------*/

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    transition: 0.5s;
}

body,
html {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(0deg, rgba(39, 159, 233, 0.634), rgba(230, 105, 249, 0.035)), url('../images/sky-background-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

main {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    box-shadow: 8px 8px 8px rgba(127, 127, 127, 0.13), -8px -8px 8px rgba(127, 127, 127, 0.08);
    width: min(60ch, 100% - 4rem);
    height: auto;
    flex-wrap: wrap;
    border-radius: 12px;
    align-self: center;
}

/*#endregion*/

/*#region--------------------------App top-------------------------------------*/

#main-wrapper  {
    display: flex;
    flex-direction: column;
    background-color: var(--foreground-color);
    border-radius: 12px 12px 3rem 3rem;
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
    box-shadow: 0px 4px 8px rgba(127, 127, 127, 0.13);
}

.search {
    width: 100%;
    height: auto;
}

.search form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: 100%;
}

.search form button {
    border-radius: 0 12px 0 0;
    background-color: var(--foreground-color);
    border: none;
    border-bottom: 2px var(--foreground-color) solid;
    font-size: 20px;
    font-family: 'Calibri';
    transition: opacity 0.5s;
}

.search form button:hover {
    opacity: 50%;
    cursor: pointer;
}

#search {
    background-color: var(--foreground-color);
    border-radius: 12px 0 0 0;
    height: auto;
    width: 100%;
    border: none;
    border-bottom: 2px var(--foreground-color) solid;
    font-size: 32px;
}

.location {
    width: 100%;
    height: auto;
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#location-name {
    padding: 0.5rem;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

#location-name span {
    font-size: 20px;
}

#date {
    text-align: center;
    color: lightgray;
}

.temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    align-items: center;
}

.temp h2 {
    text-shadow: 4px 4px 8px rgba(127, 127, 127, 0.15);
    font-size: 105px;
    text-align: center;
    padding: 0.5rem;
}

.temp h2 span a {
    font-size: 42px;
    text-decoration: none;
    color: #64c8f0ea;
}

.temp h2 span a:hover {
    color: #D98B2B;
}

.temp p {
    text-align: center;
    padding-bottom: 1rem;
}

.temp img {
    width: 100px;
    height: 100px;
}

.properties {
    display: flex;
    background-color: var(--blue-color);
    box-shadow: 4px 4px 8px rgba(127, 127, 127, 0.13);
    border-radius: 2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: min(125ch, 100% - 4rem);
    height: auto;
    flex-wrap: wrap;
}

.properties div:first-of-type  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.properties div:last-of-type  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    text-align: center;
}

.properties div p {
    padding: 0.25rem;
}

/*#endregion*/

/*#region--------------------------App forcast-------------------------------------*/

.forecast {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem 0 2rem 0;
}

.forecast-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0.25rem 1rem 0.25rem;
    text-align: center;
    background-color: var(--blue-color);
    box-shadow: 4px 4px 8px rgba(127, 127, 127, 0.13);
    border-radius: 2rem;
    height: 100px;
    width: 60px;
}

.forecast-day > * {
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
}

#forecase-day-min {
    color: var(--text-faded);
}

/*#endregion*/

/*#region--------------------------App forcast expanded-------------------------------*/

.forecast-expanded {
    display: flex;
    background-color: var(--foreground-color);
    box-shadow: 4px 4px 8px rgba(127, 127, 127, 0.13);
    padding: 0.5rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: min(125ch, 100% - 4rem);
    height: auto;
    flex-wrap: wrap;
}

/*#endregion*/

/*#region--------------------------Footer-------------------------------------*/

footer {
    text-align: center;
    padding: 0.25rem;
}

footer p {
    font-size: 16px;
    color: var(--text-faded);
    padding: 0.25rem;
}

/*#endregion*/

/*#region--------------------------Media queries-------------------------------------*/

@media all and (max-width:500px){

    main {
        width: min(60ch, 100%);
    }

    #main-wrapper  {
        padding-bottom: 1.5rem;
    }

    .temp {
        padding: 0.25rem 0 0.25rem 0;
    }
    
    .temp h2 {
        font-size: 82px;
        padding: 0;
    }

    .temp p {
        padding-bottom: 0.5rem;
    }
    
    .temp img {
        width: 80px;
        height: 80px;
    }

    .properties {
        padding: 0.25rem;
    }

    .forecast {
        padding: 0.75rem 0 0.75rem 0;
    }
    
    .forecast-day {
        padding: 0.75rem 0.25rem 0.75rem 0.25rem;
        height: 100px;
        width: 60px;
    }
    
    .forecast-day > * {
        padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    }
}

@media all and (max-height:750px){

    main {
        width: min(60ch, 100%);
        height: 100vh;
        justify-content: space-around;
    }

    #main-wrapper  {
        padding-bottom: 1.5rem;
    }

    .temp {
        padding: 0.25rem 0 0.25rem 0;
    }
    
    .temp h2 {
        font-size: 82px;
        padding: 0;
    }

    .temp p {
        padding-bottom: 0.5rem;
    }
    
    .temp img {
        width: 80px;
        height: 80px;
    }

    .properties {
        padding: 0.25rem;
    }

    .forecast {
        padding: 0.75rem 0 0.75rem 0;
    }
    
    .forecast-day {
        padding: 0.75rem 0.25rem 0.75rem 0.25rem;
        height: 100px;
        width: 60px;
    }
    
    .forecast-day > * {
        padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    }
}

/*#endregion*/